VITE_API_URL=http://localhost:3000
VITE_RECAPTCHA_SITE_KEY=recaptcha_site_key
VITE_SITE_URL=https://innera.theinnercode.net
VITE_WAITLIST_ENDPOINT=/api/waitlist
VITE_GTM_ID=GTM-MST6G6XK
VITE_GOOGLE_ADS_ID=AW-17975497028
VITE_FB_PIXEL_ID=2016699422226172
